.form {
  width: 85%;
}

.control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  margin-bottom: 1.5rem;
}

.control label {
  width: 100px;
  text-align: right;
  font-size: 2.5vh;
}

.control input {
  display: block;
  font: inherit;
  border-radius: 10px;
  border: 0;
  margin-left: 3%;
  padding: 0.25rem;
  width: 82.5%;
  background-color: #ececec;
  font-size: 2vh;
}

.actions {
  margin-top: 4rem;
  text-align: center;
}

.actions button {
  border-radius: 10px;
  font-size: 2vh;
  width: 85%;
  height: 40px;
  border: 0;
  background-color: black;
  color: white;
}

.actions button:disabled,
.actions button:disabled:hover {
  background-color: gray;
  transition: var(--transition-hover);
}

.actions button:hover {
  background-color: green;
  transition: var(--transition-hover);
}
