**/.DS_Store

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
/frontend/build

# misc
/frontend/.env
/frontend/.env.development
/frontend/.env.test
/frontend/.env.production

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/package-lock.json
# backend
backend/node_modules
backend/package-lock.json
backend/.env

# backend_webrtc
backend_webrtc/node_modules
backend_webrtc/package-lock.json
backend_webrtc/.env.development
backend_webrtc/.env.production
backend_webrtc/.env

# backend_ner
backend_ner/model/onnx_model-quantized.onnx
backend_ner/ner_onnx.ipynb

# ignore all Python cache files
**/__pycache__/
*.pyc
backend_ner/__pycache__
backend_ner/utils/__pycache__
db/*

# public and private key of backend server (for https)
cert.pem
csr.pem
key.pem

*.env
