.direction {
  width: 2.5vw;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.side_space {
  width: 2.5vw;
  display: flex;
  flex-direction: column;
  gap: 28vh;
}

.side_direction {
  /* width: 132px; */
  display: flex;
  flex-direction: row;
  gap: 4vh;
}

.title {
  width: 100%;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 2.5vh;
}

.side {
  display: flex;
  width: 2.5vw;
  height: 20vh;
  background: #dedede;
  text-orientation: upright;
  writing-mode: vertical-rl;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
}

.highlighted {
  background: var(--primary-color-highlight);
}
