.direction {
  display: flex;
  flex-direction: row;
  gap: 0.2vw;
  box-sizing: border-box;
  margin: auto;
}

.direction.highlighted {
  box-shadow: 0px 0px 0px 7px var(--secondary-color-highlight);
  border-radius: 15px;
}
