.largebox {
    width: 7.9vw;
    height: 3vh;

    /* text-align: center;
    align-items: center;
    justify-content: center; */
    position:relative;
    display: block;
    z-index: 1;
    /* right: -36px; */
    bottom: 15px;
    font-size: large;
}

.largebox.highlighted button {
    background: var(--secondary-color-highlight);
}

.box{
    width: 7.9vw;
    height:9vh;
    display:grid;
    align-items:center;
    justify-content: center;
    overflow: visible;
}
.crown{
    display: flex;
    width: 7.9vw;
    height: 3vh;
    justify-content: center;
    align-items:end;
    z-index: 1;
}

.emptyBox{
    height: 3vh;
}

.dropdown{
    display: flex;
    width: 7.9;
    height: 4;
    justify-content: center;
    position: absolute;
    padding-top: 3vh;
    gap: 2vh;
    z-index:1;
}

.implant{
    z-index: -1;
    position:absolute;
    right: 10%;
    bottom: 6px;
    size-adjust: 50%;
}

.title {
    width:50;
    height: 4vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 2.5vh;
    margin-top: 0.5vh;
    position: absolute;
    right:42%;
    /* margin-bottom: -0.5vh; */
    /* background-color: var(--primary-color-highlight); */
}

.title.highlighted {
    background-color: var(--primary-color-highlight);
}