/* variable declare */
:root {
  --main-background-color: #f0f0f0;
}

.account-edit__background {
  background-color: var(--main-background-color);
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.account-edit__main {
  width: 70%;
  margin-top: 10vh;
  position: fixed;
  display: flex;
  background-color: white;
  margin-left: 15vw;
  border: solid black;
  border-width: var(--primary-border-width);
  border-radius: var(--primary-border-radius);
  /* box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); */
}

.account-edit__sidebar {
  width: 225px;
  box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.3);
  background-color: #d4d4d4;
  border-radius: var(--primary-border-radius) 0px 0px
    var(--primary-border-radius);
}

.account-edit__sidebar h2 {
  margin-top: 50px;
  padding-left: 25px;
  margin-bottom: 60px;
  text-shadow: 2px 2px rgba(10, 10, 10, 0.1);
}

.account-edit__sidebar-menu {
  width: 100%;
  padding: 15px 30px 15px 30px;
  font-size: 16px;
}

.account-edit__sidebar-menu:hover {
  background-color: #b8b8b8;
}

.account-edit__sidebar-menu.selected {
  background-color: #808080;
  font-size: 18px;
}

.account-edit__form-area {
  height: 100%;
  width: 100%;
  /* border: 1px solid yellow; */
  flex: 1;
  padding: 140px 100px 50px 100px;
}
.image-section {
  /* aspect-ratio: 1; */
  background-image: url(../../images/background_template.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #acad90;
  height: 100vh;
  width: 100vw;
}
/* iPad */
/* @media (min-width: 770px) and (max-width: 1200px) and (min-height: 770px) and (max-height: 1000px) {
  .image-section {
    background-image: url(../../images/background_template.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #acad90;
    height: 100vh;
    width: 100vw;
  }
} */

/* WideScreen */
/* @media (min-width: 1201px) or (min-height: 1001px) {
  .image-section {
    background-image: url(../../images/background_template.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #acad90;
    height: 100vh;
    width: 100vw;
  }
} */
