.audioStreaming {
  width: 75vw;
  height: 75vh;
  padding: 2.5% 2.5% 2.5% 2.5%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}

.audioStreaming__items-grid {
  display: grid;
  grid-template-columns: 250px 250px 150px;
  grid-column-gap: 2.5rem;
  grid-row-gap: 0.5rem;
}

.audioStreaming__items {
  display: flex;
  flex-direction: row;
  width: 500px;
}

.audioStreaming__items-header {
  font-size: 20px;
  text-align: left;
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 0;
}

.audioStreaming__items-status {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.audioStreaming__items-status.pos {
  background-color: green;
}

.audioStreaming__items-status.neg {
  background-color: red;
}

.audioStreaming__items-button {
  width: 100%;
  display: flex;
  justify-content: right;
}

.audioStreaming__items-button button {
  width: 75%;
  height: 100%;
  border: 0px;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.audioStreaming__items-button button:hover {
  background-color: #2e2e2e;
}

#gowajee_prob {
  margin-top: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

#gowajee_prob h6,
#gowajee_prob p {
  margin: 0;
}

#gowajee_prob h6 {
  padding-left: 8px;
  font-size: 20px;
}
