.left_graph{
    margin-top: -23px;
}
.right_graph{
    margin-left: -9px;
    margin-top: -23px;
}

.left_graph.lower{
    margin-top: -10px;
}

.right_graph.lower{
    margin-left: -9px;
    margin-top: -10px;
}

.graph_box{
    display: flex;
    height: 92px;
    z-index: 1;
}

.graph_box.lower{
    display: flex;
    height: 88px;
}


.empty_box{
    height: 9px;
    width: 585px;
    background: #456be7;
}