.direction {
  /* position: flex-center; */
  display: flex;
  flex-direction: row;
  /* padding-left: 4vw; */
  gap: 2.3625vw;
  /* margin: 5px; */
  /* background-color: aqua; */
  /* background-color: #f1f1f1; */
}
